<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">
      <h1>NewPoems</h1>
      <p>This is a poem</p>

      <%= render "layouts/magnets", container: "player-container", poem: @poem %>
    </div>
  </div>
</div>