<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">
      <h1>NewPoems</h1>
      <p>This is a poem</p>

      <div class="row">
        <div class="magnets eleven columns centered">
        </div>
      </div>
      <%= button_to "These words are inadequate! I need more!", spawn_new_words_poem_path, method: :post, remote: true, form_class: "add-more" %>
    </div>
  </div>
</div>

<script>
  var magnetData = <%= @poem_words.to_json.html_safe %>;

  $(function(){
    magnet = new Magnet.Controller(magnetData);
    magnet.start();

    $('.add-more').bind('ajax:success', function(event, data) {
      console.log("success");
      console.log(data);
      magnetData = $.parseJSON(data);
      magnet.dataToMagnet(magnetData);
      magnet.rotateAllMagnets();

      console.log(magnetData);


    });

  });
</script>
