<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">
      <h1>NewPoems</h1>
      <p>This is a poem</p>

      <div class="row">
        <div class="magnets eleven columns centered">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var poemData = <%= @poem_words.to_json.html_safe %>;

  var save = function (poemWordID, top, left, callback) {
    // $.post("/poems.json", {
    //   poem: {
    //     user_id: <%= current_user.id %>
    //   }
    // }, function (response) {
    //   console.log(response);
    // });

    $.ajax({
      type: "POST",
      url: "/poem_words/" + poemWordID,
      data: { _method:'PUT', poem_word : { "top": top + "%", "left": left + "%" } },
      dataType: 'json',
      success: function(msg) {
        console.log(msg);
      }
    })

  }



  $(document).ready(function() {


      // INSTANTIATING GLOBAL VARIABLES
      var $dragging = null;
      var magnetsWidth, magnetsHeight, magnetsOffset, pageWidth, pageHeight;

      // GETS AND SETS VARIABLES BASED ON WINDOW SIZE
      // SETS PAGE HEIGHT
      var getSetVariableWidth = function() {
        magnetsWidth = $(".magnets").width();
        pageWidth = $(window).width();
        pageHeight = $(window).height();

        // dynamically setting the height to 80% of the window
        $('.magnets').height(pageHeight * 0.8)

        magnetsHeight = $(".magnets").height();
        magnetsOffset = $('.magnets').offset();
      }

      getSetVariableWidth();

      // CHANGING VARIABLES BASED ON WINDOW RESIZE
      $(window).resize(function(){
        getSetVariableWidth();
      });

      // DRAGGING FUNCTIONALITY
      $('.magnets').on("mousemove", function(e) {
        if ($dragging) {
          var left = ((e.pageX - magnetsOffset.left) / magnetsWidth) * 100;
          var top = ((e.pageY - magnetsOffset.top) / magnetsHeight) * 100;
          console.log(magnetsHeight);
          $dragging.css({
              top: top + "%",
              left: left + "%"
          });
        }
      });

      $('.magnets').on("mousedown", "div", function (e) {
          $dragging = $(e.target);
      });

      $(document.body).on("mouseup", function (e) {
          var poemWordID = $dragging.data("poem-word-id");
          var top = parseInt($dragging.css("top")) / $dragging.parent().height() * 100;
          var left = parseInt($dragging.css("left")) / $dragging.parent().width() * 100;
          console.log(top, left);
          save(poemWordID, top, left)
          $dragging = null;
      });



      // RANDOM ROTATION OF MAGNETS
      var rotateAllMagnets = function() {
        $.each($('.magnet'), function(key, value){
          var posNeg = function(){
            if ( Math.random() > .5 ) {
              return -1
            } else {
              return 1
            }
          }
          var randDeg = posNeg() * (Math.random() * 10)
          $(value).css({ WebkitTransform: 'rotate(' + randDeg + 'deg)'});
        });
      }

      // Instantiating new magnets from an array of JSON stuff
      _.each(poemData, function(wordObject){
        $('.magnets').append(
          $('<div/>')
            .addClass('magnet')
            .html(wordObject.word)
            .css({top: wordObject.top, left: wordObject.left})
            .data("poem-word-id", wordObject.id)
        );
      });

      rotateAllMagnets();

      save();

  });
</script>

<style>
  .magnets.columns {

    margin: 0 auto 40px auto;

    position: relative;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;

    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }

  .magnet {
    /*border: 1px solid black;*/
    position: absolute;
    padding: 2px 5px;
    display: block;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
    background: white;
    border: 1px solid #555;
    font-family: 'Helvetica', 'Helvetica Neue';

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: default;
  }
</style>