<div class="masthead">
  <div class="row main-container">
    <div class="twelve columns centered masthead-content">
      <h1>NewPoems</h1>
      <p>This is a poem</p>

      <div class="row">
        <div class="magnets eleven columns centered">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var poemData = <%= @poem_words.to_json.html_safe %>;

  $(function(){
    magnet = new Magnet.Controller(poemData);
    magnet.start();
  });
</script>
