
body {
  h1,h2,h3,h4,h5,p {
    font-family: 'Sanchez', sans-serif;
    font-weight: normal;
  }

  .alert-box {
    margin: 0;
    border-radius: 0px;
  }

  .button {
    border: none;
    border-bottom: 5px solid #27AE60;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    font-family: "Sanchez", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
  }

  .debug {
    display: none;
  }
}
