
footer {
  border-top: 5px solid #aaa;

  p strong {
    font-weight: normal;
    font-family: 'Sanchez';
  }

  .top-footer {

    ul {
      list-style: none;
    }

    .social-footer {
      background: #2ecc71;
      min-height: 200px;
      padding: 20px;
      color: white;
      border-bottom: #27ae60 solid 5px;

      a {
        color: white;
      }
    }

    .top-footer-links {
      padding: 20px 0;
    }
  }

  .sub-footer {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    p {
      font-size: 12px;
    }
  }

  .muted {
    color: #999;
  }
}