
footer {
  border-top: 5px solid #aaa;

  p strong {
    font-weight: normal;
    font-family: 'Sanchez';
  }

  .top-footer {
    padding: 20px 0;

    ul {
      list-style: none;
    }
  }

  .sub-footer {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    p {
      font-size: 12px;
    }
  }

  .muted {
    color: #999;
  }
}