// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game-info {
  float: left;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 5px 20px 20px 20px;
  border-bottom: 5px solid #aaa;
  background: rgba(255,255,255,0.6);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.player-points {
  padding: 15px 10px 10px 10px;
  table {
    font-family: "Sanchez", sans-serif;
    margin: 0px;
    caption {
      border-bottom: 1px solid #ccc;
      padding-bottom: 6px;
      line-height: 1.3;
      color: #6f6f6f;
      font-weight: 300;
      font-family: "Sanchez", sans-serif;
    }
  }
}