<div class="magnets-container">
  <div class="row">
    <div class="magnets eleven columns centered <%= container %>">
    </div>
  </div>
  <%= button_to "These words are inadequate! I need more!", spawn_new_words_poem_path(poem), method: :post, remote: true, form_class: "add-more", class: "give-me-more button large radius" %>
</div>

<script>
  var magnetData = <%= poem.poem_words.to_json.html_safe %>;

  $(function(){
    magnet = new Magnet.Controller(magnetData, "<%= ".#{container}" %>");
    magnet.start();

  });
</script>
