
  <div class="player-points game-info">
    <table>
      <caption>Scoreboard</caption>
      <thead>
        <tr>
          <th>Player</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      <% @game.players.each do |player| %>
        <tr>
          <td><%= link_to player.user.username, player.user %></td>
          <td><%= player.points %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
